<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('link'); -%>
    </head>
  <body>

    <%- include('header'); -%>
    <div class="blackline" style="background: black; font-size: 1px; color: black;" >
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
    </div>

    <div class="logo banner">
      <div class="container">
        <div class="row">
          <div class="col-12 imh">
            <div class="flex justify-center items-center content-center p-2">
              <b style="color: #77aaff;" >2022</b><img src="./assets/img/logo.png" alt="" width="300px" height="auto"><b style="color: #77aaff;">2022</b>
              
            </div>
            <div class="my" style="color: #77aaff;">
              <b class="p-3 mb-3">Serving our Community in 1years</b>
            </div>


            


          </div>
        </div>
      </div>
    </div>

    <div class="blackline" style="background: black; font-size: 1px; color: black; margin-top: 10px; " >
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
    </div>


    <div class="any">
      <div class="myany">
        <div id="mega-menu-icons" class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1">
          <ul class="flex flex-col  text-sm font-medium md:flex-row md:space-x-8 md:mt-0 trend">
            <li>
              <a href="#" class="block py-2 pr-4 pl-3  font-bold text-xl" style="margin-bottom: -10px;" style="color: #ea7e7e;">Trending:</a>
          </li>
            
            
              
              <li>
                  <a href="https://my-news-bya.onrender.com/news/will-there-be-a-covid-winter-wave-what-scientists-say" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                    COVID WINTER</a>
              </li>
              <li>
                <a href="https://my-news-bya.onrender.com/news/champions-for-guaranteed-income-celebrate-the-announcement-of-the-100th-guaranteed-income-pilot-program-in-five-years" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                  GUARANTEED INCOME
                  </a>
            </li>
            <li>
              <a href="https://my-news-bya.onrender.com/news/splashdown-here-s-how-nasa-will-recover-the-artemis-i-orion-capsule-in-the-pacific-ocean" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Technology</a>
          </li>
          <li>
            <a href="https://my-news-bya.onrender.com/news/xander-bogaerts-to-sign-11-year-280-million-deal-with-padres-bringing-end-to-10-year-tenure-with-red-sox" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">XANDER BOGAERTS</a>
        </li>
        <li>
          <a href="https://my-news-bya.onrender.com/news/10-things-you-should-do-if-cps-or-dcfs-is-investigating-you" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
            CPS INVESTIGATIONS</a>
      </li>
          </ul>
      </div>
      </div>
    </div>










    <div class="blackline" style="background: black; font-size: 1px; color: black;" >
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
    </div>



    <div class="allcontect">
      <div class="containe">
        <div class="row p-5">
          <div class="col-6">
            <a href="https://my-news-bya.onrender.com/news/xander-bogaerts-to-sign-11-year-280-million-deal-with-padres-bringing-end-to-10-year-tenure-with-red-sox">
              <div class="allfirst ">
                <div class="image">
                  <img src="./assets/img/post.jpg" alt="" width="641px" height="300px">
                </div>
                <div class="title">
                  <b class="text-3xl text-center p-3 text-gray-900 ">Xander Bogaerts to sign 11-year, $280 million deal with Padres, bringing end to 10-year tenure with Red Sox</b>
  
                </div>
                <div class="description">
                  <p class="text-center text-gray-900  text-xl">The Red Sox' counter offer, six years at roughly $27 million per year, was significantly far from what the Padres offered.</p>
                </div>
              </div>
            </a>
            <div class="blackline" style="background: black; font-size: 1px; color: black;" >
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
            </div>

            <div class="containe">
              <div class="row">
                
                <div class="col-6">
                  <a href="#">
                    <div class="allany hove">
                      <div class="mytext">
                        <b class="text-2xl text-left p-3 text-gray-900 ">
                          
                       Fighting homelessness, and ‘not in my backyard</b>
                      </div>
                      
                      <div class="text-left text-gray-900  text-sm">
                        <p>
                          Two proposals to convert hotels into supportive housing have riled neighbors in Dorchester and Charlestown.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <div class="col-6">
                  <a href="#">
                    <div class="myi hove">
                      <img src="./assets/img/post3.jpg" alt="" width="321px" height="214px">
                    </div>
                  </a>
                </div>
                
            
              </div>

            </div>
            <div class="blackline" style="background: black; font-size: 1px; color: black;margin-top: 15px;" >
              <p>Lorem .</p>
            </div>


          </div>
          <div class="col-6">
            <div class="containe">
              <div class="row">
                <div class="col-6">
                  <a href="https://my-news-bya.onrender.com/news/-still-a-hostage-critics-slam-biden-over-griner-prisoner-swap-that-left-paul-whelan-in-russia-1">
                    <div class="allsec hove">
                      <div class="title1">
                        <b class="text-2xl text-center p-3 text-gray-900 " >Critics slam Biden over Griner prisoner swap that left Paul Whelan in Russia</b>
                      </div>
                      
                        <div class="description1 ">
                          <p class="text-left text-gray-900  text-sm tlimit">
                            <span style="display:inline-block;
                            white-space: wrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 50ch;">
    
                            
                            In nearly eight years, Governor Charlie Baker has appointed 60 percent of the 418 justices in Massachusetts, installing judges who will oversee murder trials, reshape constitutional law, and unknot thorny civil litigation for years, if not decades, to come.</p>
                          </span>
                        </div>
                      
                    </div>
                  </a>
                  <div class="blackline" style="background: black; font-size: 1px; color: black;" >
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
                  </div>

                  <a href="https://my-news-bya.onrender.com/news/kyrsten-sinema-leaves-democratic-party-registers-as-independent">
                    <div class="allsec hove">
                      <div class="title1">
                        <b class="text-2xl text-center p-3 text-gray-900 " >I have joined the growing numbers of Arizonans who reject party politics by declaring </b>
                      </div>
                      
                        <div class="description1 ">
                          <p class="text-left text-gray-900  text-sm tlimit">
                            <span style="display:inline-block;
                            white-space: wrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 50ch;">
    
                            
    Sinema’s move will jar Democrats who had hoped Sen. Raphael Warnock’s runoff victory in Georgia on Tuesday would provide the party a measure of breathing room on difficult votes that often hinged on Sinema and Sen. </p>
                          </span>
                        </div>
                      
                    </div>
                  </a>
                  <div class="blackline" style="background: black; font-size: 1px; color: black;" >
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
                  </div>


                  <a href="https://my-news-bya.onrender.com/news/2-firefighters-die-in-pennsylvania-house-fire-police-say-body-found-outside">
                    <div class="allsec hove">
                      <div class="title1">
                        <b class="text-2xl text-center p-3 text-gray-900 " >die in Pennsylvania house fire, police say; body found outside</b>
                      </div>
                      
                        <div class="description1 ">
                          <p class="text-left text-gray-900  text-sm tlimit">
                            <span style="display:inline-block;
                            white-space: wrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 50ch;">
    
                            
    The New Tripoli Fire Company members who lost their lives were identified as Assistant Fire Chief Zachary Paris, 36, and Marvin Gruber, 59, Pennsylvania State Police Trooper David Beohm said.

    </p>
                          </span>
                        </div>
                      
                    </div>
                  </a>
                  <div class="blackline" style="background: black; font-size: 1px; color: black;" >
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
                  </div>






                </div>
                <div class="col-6">
                  <a href="https://my-news-bya.onrender.com/news/ai-can-detect-signs-of-depression-should-we-let-it-">
                    <div class="allthird hove">
                      <div>
                        <img src="./assets/img/post2.png" alt="" width="294px" height="191px">
                      </div>
                      <div class="text-gray-900">
                        <b style="font-weight: 800; font-size: 25px;">AI can detect signs of depression. Should we let it?</b>
                      </div>
                      <div class="text-left text-gray-900  text-sm">
                        <p>it?
                          New apps promise to detect when you’re feeling blue and offer some assistance. But they still have to prove that the benefits of sharing sensitive data outweigh any drawbacks.</p>
                      </div>
                    </div>
                  </a>
                  <div class="blackline" style="background: black; font-size: 1px; color: black;" >
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
                  </div>

                  <a href="https://my-news-bya.onrender.com/news/splashdown-here-s-how-nasa-will-recover-the-artemis-i-orion-capsule-in-the-pacific-ocean">
                    <div class="allthird hove">
                      <div>
                        <img src="./assets/img/po.png" alt="" width="294px" height="191px">
                      </div>
                      <div class="text-gray-900">
                        <b style="font-weight: 800; font-size: 25px;">Orion capsule in the Pacific Ocean</b>
                      </div>
                      <div class="text-left text-gray-900  text-sm">
                        <p>Now, the ocean engineering and marine sciences assistant professor has reported to the Navy amphibious transport ship USS Portland in San Diego.

                          “I’m going to be on the other coast of the United States seeing the same engineering article, picking it up in the ocean," he said.</p>
                      </div>
                    </div>
                  </a>
                  <div class="blackline" style="background: black; font-size: 1px; color: black;" >
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
                  </div>


                  
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="all">
      <div class="container">
        <div class="row">
          <% if(posts){ posts.forEach(function(post){ %>
          <div class="col-3">
            <a href="<%= baseUrl %>/news/<%= post.slug %>">
              <div class="allthird hove p-3">
                <div>
                  <img src="<%= baseUrl %>/uploads/<%= post.featured_image %>" alt="" width="294px" height="191px">
                </div>
                <div class="text-gray-900">
                  <b style="font-weight: 800; font-size: 15px;"><%= post.title %>......</b>
                </div>
                <!-- <div class="text-left text-gray-900  text-sm">
                  <p><%- post.description -%></p>
                </div> -->
              </div>
            </a>
            <div class="blackline" style="background: black; font-size: 1px; color: black;" >
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, rerum.</p>
            </div>

          </div>
          <% }); }; %>
          
          
        </div>
      </div>
    </div>



    





    <!-- footer start -->
    <%- include('foter'); -%>

    <!-- footer end -->

    
      
    <!-- Optional JavaScript -->
    
  </body>
</html>